@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}